@import '~antd/dist/antd.css';

/* Menu Item */

.menu-item {
  color:#565555;
}

/* Header and Elements within */

header {
  padding-bottom: 10em;
}
header nav {
    position: fixed;
    z-index: 9;
    text-align: left;
    width: 100%;
    padding: 30px 100px;
    top: 0px;
    transform: translateY(0);
    opacity: 1;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
  }

