@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  margin-bottom: 3%;
  position: relative;
  color: black ;
  font-size: 5rem;
  transition: transform 0.5s;
}

.item:hover {
  transform: scale(1.2);
  cursor: pointer;
}

label {
  padding-left: 1.4em;
}