@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-container {
  background: #F5F5F5;
  padding: 100px;
  min-height: 280px;
  margin: 100px;
  border-radius: 30px;
  padding-top: 30px;
  margin-top: 0px;

  /* Flexbox stuff */

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}


header nav {
  position: fixed;
  z-index: 9;
  text-align: left;
  width: 100%;
  padding: 30px 100px;
  top: 0px;
  transform: translateY(0);
  opacity: 1;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  padding-left: 20px;
  margin-left: 20px;
}

