@import '~antd/dist/antd.css';

.footer {
    text-align: center;
    padding-top: 6vh;
}

.fading-line{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(92, 92, 92, 0.75), rgba(0, 0, 0, 0));
}